<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         backupGlobals="false"
         colors="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerDeprecations="true">
	<testsuites>
		<testsuite name="default">
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
	<source>
		<include>
			<file>class-wp-predis-decorator.php</file>
			<file>functions.php</file>
			<file>object-cache.php</file>
		</include>
	</source>
</phpunit>
